@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Erginler <span>Patisserie</span></h3>
    
</div>
